<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
    <script src="{{ site.baseurl }}/assets/js/fontawesome.js" type="text/javascript"></script>
    {% seo %}
    {%- if site.google_analytics -%}
      {%- include google-analytics.html -%}
    {%- endif -%}
    {%- if site.baidu_analytics -%}
      {%- include baidu-analytics.html -%}
    {%- endif -%}
    {%- include head-scripts.html -%}
</head>